.winter-season {
  .banner {
    background-image: url("../../assets/webp/winter-season__banner-background.webp");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1920 / 1080;
  }

  .description {
    font-size: 16pt;
    max-width: 63ch;
    font-family: "Oswald ExtraLight";
    color: white;
  }

  .parrafo-con-vineta::before {
    content: "•";
    /* Puedes cambiar • por cualquier otro símbolo de viñeta que desees */
    color: #0bc5bb;
    /* Color de la viñeta */
    font-weight: bold;
    /* Opcional: hacer que la viñeta sea más visible */
    margin-right: 8px;
    /* Espacio entre la viñeta y el texto del párrafo */
  }

  .linea-horizontal {
    border-top: 3px solid #0bc5bb;
    /* Color 0BC5BB */
    position: relative;
    /* Para posicionar el botón */
    width: 100%;
  }

  .title--dark {
    color: white;
    font-size: 30pt;
  }

  .title--light {
    color: #0bc5bb;
    font-size: 30pt;
  }

  .vertical-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
    align-items: center;

    @media screen and (min-width: 64rem) {
      padding-top: 0;
    }
  }

  .vertical-image {
    aspect-ratio: 797.9862 / 1015.2692;
    max-width: 60%;

    @media screen and (min-width: 64rem) {
      max-width: 100%;

    }
  }

  .square {
    /* Color del texto */
    text-align: center;
    /* Centra el texto verticalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    padding: 15px;
    transition: background-color 0.3s, color 0.3s;
    /* Transición suave */
    width: 100%;
    height: 100%;

    .image--active {
      display: none;
    }

    .image--default,
    .image--active {
      width: 50%;
    }

  }

  .square:hover {
    background-color: #05386b30;
    /* Color de fondo en hover */
  }

  .active {
    background-color: #05386b !important;
    /* Color de fondo en hover */
    color: #0bc5bb !important;
    /* Color del texto en hover */

    .image--default {
      display: none;
    }

    .image--active {
      display: inline-block;
    }
  }

  .tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 0.3125rem;
    gap: 0.3125rem;
    background-color: #05386b;
  }

  .nav-item {
    display: flex;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: #ffffff;
  }

  .custom-row {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 64rem) {
      flex-direction: row;
    }

    .col-sm-6 {
      width: 100%;

      @media screen and (min-width: 64rem) {
        width: 50%;
      }
    }
  }

  .custom-row {
    @media screen and (min-width: 64rem) {
      padding: 50px 50px 0 150px;
    }

  }

  .pagination {
    position: absolute;
    bottom: min(7.9828%, 5.3884rem);
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    gap: 1.8447rem;
    width: max-content;
    align-items: center;
  }

  .pagination__controls {
    display: flex;
    align-items: center;
    gap: 1.1988rem;
  }

  .pagination__control {
    cursor: pointer;
  }

  .pagination__pages {
    display: flex;
    align-items: center;
    gap: 1ch;
  }

  .pagination__page {
    width: 0.6229rem;
    aspect-ratio: 1 / 1;
    background-color: #ffffff;
    opacity: 0.5;
    cursor: pointer;
  }

  .pagination__page--active {
    opacity: 1;
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;

    @media screen and (min-width: 64rem) {
      padding: 0 8% 0 20%;
    }
  }

  .column {
    padding: 0;
  }

  .column-padding {
    padding: 1rem 0;
  }

  .row {
    padding: 0;
    margin: 0;
  }

  .row-padding {
    padding: 2ch 8%;

    @media screen and (min-width: 64rem) {
      padding: 2ch 8% 2ch 20%;
    }
  }

  .tab-pane {
    padding: 0;
  }

  .book-now {
    display: flex;
    align-items: center;
    gap: 1ch;
    cursor: pointer;
  }

  .book-now__text {
    font-family: 'Akzidenz-grotesk-light';
  }

  .carousel,
  .carousel-inner,
  .carousel-item {
    height: 100%;
  }

  .carousel__image {
    height: 100%;
    object-fit: cover;
  }
}