.surf-program {
  .banner {
    background-image: url("../../assets/webp/surf-program__banner-background.webp");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1920 / 1080;
  }

  .title--dark {
    color: #05386b;
    font-size: 15pt;
    padding: 20px 0;
  }

  .title--light {
    color: #0bc5bb;
    font-size: 15pt;
  }

  .description {
    max-width: calc(63ch + 32pt);
    font-family: "Oswald ExtraLight";
    padding: 1.25rem;

    @media screen and (min-width: 64rem) {
      font-size: 16pt;
    }

  }

  .footer__email--bold {
    color: #0BC5BB;
  }

  .parrafo-con-vineta {
    max-width: 40ch;
    display: block;
    padding: 0;
  }

  .parrafo-con-vineta::before {
    content: "•";
    /* Puedes cambiar • por cualquier otro símbolo de viñeta que desees */
    color: #0BC5BB;
    /* Color de la viñeta */
    font-weight: bold;
    /* Opcional: hacer que la viñeta sea más visible */
  }

  .title {
    text-align: center;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 10pt;
    padding: 20px 0;
  }

  .read {
    text-align: right;
  }

  .read__text {
    @media screen and (min-width: 64rem) {
      padding-right: 3rem;
    }
  }

  .read--flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .linea-horizontal {
    display: flex;
    position: relative;
    height: 3px;
    background-color: #0bc5bb;
    /* Color 0BC5BB */
    position: relative;
    /* Para posicionar el botón */
    justify-content: flex-end;
    padding-right: 0;

    @media screen and (min-width: 64rem) {
      padding-right: 2.5rem;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: calc(100% - 100vw);
        width: calc(100% + 100vw);
        height: 100%;
        background-color: #0bc5bb;
      }
    }
  }

  .linea-horizontal__button {
    position: relative;
    bottom: 2.3262rem;
    width: max-content;
    display: flex;
    align-items: center;
    background-color: #0bc5bb;
    gap: 0.8ch;
    padding: 2.25ch;

  }

  .linea-horizontal__icon {
    width: 2.5ch;
  }

  .linea-horizontal__text {
    font-size: 1rem;
    color: #05386B;
  }

  /* Estilos para el botón */
  .boton-sobresaliente {
    position: absolute;
    top: -20px;
    /* Distancia desde la línea horizontal hacia arriba */
    left: 50%;
    /* Centra el botón horizontalmente */
    transform: translateX(-50%);
    /* Centra completamente el botón */
    background-color: #0bc5bb;
    /* Color 0BC5BB */
    color: white;
    /* Color de texto */
    padding: 10px 20px;
    /* Espaciado interno */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .tabs__list {
    position: relative;
  }

  .tab {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1s ease;
  }

  .active {
    position: relative;
    opacity: 1;
  }

  .banner {
    display: flex;
    align-items: center;
    background-image: url('../../assets/webp/home__banner.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    aspect-ratio: 1920 / 872.0386;
    padding: 2rem min(16.197rem, 13.4974%);
    justify-content: center;
  }

  .banner__title {
    display: flex;
    flex-direction: column;
    line-height: 100%;
    font-family: 'Akzidenz-grotesk-light';
    color: #FFFFFF;
    text-align: center;
    /* Centra el texto horizontalmente */

    @media screen and (min-width: 64rem) {
      font-size: 117.0937pt;
      line-height: 99.5889pt;
    }
  }

  .banner__word {
    font-weight: 400;

    &:nth-child(odd) {
      font-weight: 900;
    }
  }

  .custom-row {
    padding: 1.5rem 0;
    border-bottom: 1px solid #979797;
  }

  .custom-row:last-child {
    border-bottom: none;
  }

  .tab__banner {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .tab__index {
    position: absolute;
    top: 5%;
    right: 10%;
    display: flex;
    justify-content: flex-end;
    width: 20%;

    @media screen and (min-width: 26.875rem) {
      right: 15%;
    }
  }

  .tab__index-logo {
    aspect-ratio: 1 / 1;
  }

  .tab__index-text {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 900;
    color: #05386B;

    @media screen and (min-width: 26.875rem) {
      font-size: 5rem;
      right: -2rem;
    }
  }

  .tab__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    text-align: center;
    color: #05386B !important;

    @media screen and (min-width: 64rem) {
      font-size: 5rem;
    }
  }

  .tab__footer {
    position: absolute;
    left: 0;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;

    @media screen and (min-width: 26.875rem) {
      gap: 1rem;
    }
  }

  .tab__pages {
    display: flex;
    gap: 0.8rem;
    width: 90%;
    justify-content: flex-end;
    padding: 0 1rem;

    @media screen and (min-width: 64rem) {
      width: 74.4409%;
      padding: 0 3rem;
      gap: 1rem;
    }
  }

  .tab__page {
    font-weight: 900;
    cursor: pointer;
    color: #979797;

    @media screen and (min-width: 64rem) {
      font-size: 1.375rem;
    }
  }

  .tab__line {
    width: 90%;

    @media screen and (min-width: 64rem) {
      width: 74.4409%;

    }
  }

  #tab1.tab.active {
    .tab__page:nth-child(1) {
      color: #05386B !important;
    }
  }

  #tab2.tab.active {
    .tab__page:nth-child(2) {
      color: #05386B !important;
    }
  }

  #tab3.tab.active {
    .tab__page:nth-child(3) {
      color: #05386B !important;
    }
  }

  .tab__content {
    padding: 5rem 0;
    width: 100vw;
    overflow: hidden;
  }

  .head {
    padding: 4rem 1.5rem 1rem;
    padding-bottom: 3.3262rem;

    @media screen and (min-width: 26.875rem) {
      padding-bottom: 1rem;
    }
  }

  .item {
    padding: 1rem 1.5rem;

    @media screen and (min-width: 64rem) {
      padding: 2rem 1.5rem;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  .item--grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media screen and (min-width: 64rem) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .ddd {
    position: relative;
    min-height: 100%;
  }

  .book-now {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    gap: 0.8ch;
    padding: 1ch;
  }

  .book-now__icon {
    width: 1.5ch;

    @media screen and (min-width: 64rem) {
      width: 2.5ch;
    }
  }

  .book-now__text {
    font-size: 0.625rem;
    font-family: 'Akzidenz-grotesk-light';
    color: #0bc5bb;

    @media screen and (min-width: 64rem) {
      font-size: 1rem;
    }
  }
}