.surf-program {
  .banner {
    background-image: url("../../assets/webp/surf-program__banner-background.webp");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1920 / 1080;
  }

  .title--dark {
    color: #05386b;
    font-size: 15pt;
    padding: 20px;
  }

  .title--light {
    color: #0bc5bb;
    font-size: 15pt;
  }

  .description {
    max-width: calc(63ch + 32pt);
    font-family: "Oswald ExtraLight";
    padding: 1.25rem;

    @media screen and (min-width: 64rem) {
      font-size: 16pt;
    }

  }

  .footer__email--bold {
    color: #0BC5BB;
  }

  .parrafo-con-vineta::before {
    content: "•";
    /* Puedes cambiar • por cualquier otro símbolo de viñeta que desees */
    color: #0BC5BB;
    /* Color de la viñeta */
    font-weight: bold;
    /* Opcional: hacer que la viñeta sea más visible */
  }

  .destitle {

    text-align: center;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 15pt;
    padding: 20px;
  }

  .read {
    text-align: right;
  }

  .linea-horizontal {
    border-top: 3px solid #0bc5bb;
    /* Color 0BC5BB */
    position: relative;
    /* Para posicionar el botón */
  }

  /* Estilos para el botón */
  .boton-sobresaliente {
    position: absolute;
    top: -20px;
    /* Distancia desde la línea horizontal hacia arriba */
    left: 50%;
    /* Centra el botón horizontalmente */
    transform: translateX(-50%);
    /* Centra completamente el botón */
    background-color: #0bc5bb;
    /* Color 0BC5BB */
    color: white;
    /* Color de texto */
    padding: 10px 20px;
    /* Espaciado interno */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .container {
    display: none;
  }

  .active {
    display: block;
  }

  .banner {
    display: flex;
    align-items: center;
    background-image: url('../../assets/webp/home__banner.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    aspect-ratio: 1920 / 872.0386;
    padding: 2rem min(16.197rem, 13.4974%);
    justify-content: center;
  }

  .banner__title {
    display: flex;
    flex-direction: column;
    line-height: 100%;
    font-family: 'Akzidenz-grotesk-light';
    color: #FFFFFF;
    text-align: center;
    /* Centra el texto horizontalmente */

    @media screen and (min-width: 64rem) {
      font-size: 117.0937pt;
      line-height: 99.5889pt;
    }
  }

  .banner__word {
    font-weight: 400;

    &:nth-child(odd) {
      font-weight: 900;
    }
  }

  .custom-row {
    padding: 1.5rem 1rem;
  }

}